{% extends "strona_blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Opublikowany {{ post.publish }} przez {{ post.author }}
  </p>
  {{ post.body|linebreaks }}


  {% for comment in post.comments.all %}
    <div class="comment">
      <p>Author: {{ comment.author }}</p>
      <p>{{ comment.body }}</p>
    </div>
  {% empty %}
    <p>No comments yet.</p>
  {% endfor %}

  <h2>Add a new comment</h2>
  <form method="post" action="{% url 'strona_blog:post_comment' post.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>

  <p>
    <a href='{% url "strona_blog:post_share" post.id %}'>
      Chcesz udostępnić ten post?
    </a>
  </p>
{% endblock %}
